Flask
Flask-Bootstrap
Flask-Login
Flask-SQLAlchemy
Flask-WTF
SQLAlchemy
pydeck
pandas
cryptography
plotly
scipy
Flask-Migrate
python-dotenv
pymysql
gunicorn
gevent
scikit-learn
matplotlib
redis
rq
pytz
email_validator
geopy
requests
googlemaps
statsmodels
seaborn

