{% extends "layout.html" %}
{% block body %}
{% if session.logged_in %}

    <body>
        <div id="line_top_x"></div>
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a class="nav-link active" href="{{ url_for('show_entries') }}">Grafica de operación</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('show_stations_map') }}" >Mapas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('show_indicators') }}">Indicadores</a>
          </li>
        </ul>


        <!-- plotly graph. -->


        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
        <form action="{{ url_for('graph_var') }}" method=post>
            <select name = variable_x>
                <option value="tiempo"> {{session.graph_var_x}}</option>
                <option value="tiempo">Tiempo</option>
                <option value="altitude">Altitud</option>
                <option value="powerKw">Potencia</option>
                <option value="soc">SOC</option>
                <option value="soh">SOH</option>
                <option value="batt_temp">Temperatura de batería</option>
                <option value="ext_temp">Temperatura externa</option>
                <option value="voltage">Voltage</option>
                <option value="batt_current">Corriente</option>
                <option value="engine_acceleration">Aceleración motor</option>
                <option value="throttle">% de aceleración</option>
                <option value="regenbrake">Freno regenerativo</option>
                <option value="consumption">Consumo</option>
                <option value="range_est">Rango estimado</option>
                <option value="range_ideal">Rango ideal</option>
                <option value="drivetime">Tiempo de manejo</option>
                <option value="footbrake">Freno de pedal</option>
                <option value="engine_temp">Temperatura de motor</option>
            </select>

            <select name = variable_y>
                <option value="soc"> {{session.graph_var_y}}</option>
                <option value="altitude">Altitud</option>
                <option value="powerKw">Potencia</option>
                <option value="soc">SOC</option>
                <option value="soh">SOH</option>
                <option value="batt_temp">Temperatura de batería</option>
                <option value="ext_temp">Temperatura externa</option>
                <option value="voltage">Voltage</option>
                <option value="batt_current">Corriente</option>
                <option value="engine_acceleration">Aceleración motor</option>
                <option value="throttle">% de aceleración</option>
                <option value="regenbrake">Freno regenerativo</option>
                <option value="consumption">Consumo</option>
                <option value="range_est">Rango estimado</option>
                <option value="range_ideal">Rango ideal</option>
                <option value="drivetime">Tiempo de manejo</option>
                <option value="footbrake">Freno de pedal</option>
                <option value="engine_temp">Temperatura de motor</option>
                <option value="is_charging">Está cargando</option>
            </select>
            <dd><input type=submit value = "Ver histórico" >
        </form>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="chart" id="bargraph">
                        <script>
                            var graphs = {{plot | safe}};
                            Plotly.plot('bargraph',graphs,{});
                        </script>
                    </div>
                </div>
            </div>
        </div>



    </body>
{% endif %}
{% endblock %}
