{% extends "layout.html" %}
{% block body  %}
<div>
    <head>
      <link rel="stylesheet" type="text/css" href="/static/style.css" />
    </head>

    <title>Panel de gestión energética</title>
    <div id="line_top_x"></div>
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a class="nav-link active" href="{{ url_for('energy_monitor') }}">Panel de energía</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('show_vehicle_map') }}" aria-selected="false">Panel topográfico</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('show_entries') }}" aria-selected="true" >Gráficos personalizados</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('show_tables') }}" aria-selected="false">Tablas</a>
          </li>

        </ul>
     </div>
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

<div class="wrapper">
  <div class="box header">
      <form role="form" class="form-group form-inline" action="{{ url_for('energy_monitor') }}" method=post>
        <h3>&nbsp Ver actividad de &nbsp</h3>
            <select class="form-control input-lg" id="time_interval_select" name = time_interval onchange="this.form.submit();">
              <option value="{{session.time_interval}}"> {{session.t_int_pretty}}</option>
              <option value="1 h">Última hora</option>
              <option value="2 h">Últimas 2 horas</option>
              <option value="4 h">Últimas 4 horas</option>
              <option value="1 d">Últimas 24 horas</option>
              <option value="2 d">Últimos 2 días</option>
              <option value="3 d">Últimos 3 días</option>
              <option value="8 d">Ultima semana</option>
              <option value="30 d">Ultimo mes</option>
              <option value="60 d">Ultimos 60 días</option>
              <option value="90 d">Ultimos 90 días</option>
              <option value="365 d">Ultimo año</option>
            </select>
      </form>

     </div>
  </div>

</div>



    <div style="width: 100%">
        <div id = "bargraph" style="width:70%;float: left">
            <script>
                var graphs = {{plot | safe}};
                //color_line = {{color | safe}}
                console.log(graphs);

                smoothTrace = {
                   'type': 'scatter',
                   'name': 'Consumo',
                   'mode': 'lines',
                   'x': graphs['data'][0]['x'],
                   'y': graphs['data'][0]['y'],
                   fill: 'tozeroy',
                   fillcolor: '#9999ff',

                   'line': {
                        'color': '#3333ff',
                        'shape': 'spline',
                        'smoothing': 0}
                  };

                  smoothTrace_regen = {
                   'type': 'scatter',
                   'name': 'Regeneración',
                   'mode': 'lines',
                   'x': graphs['data'][1]['x'],
                   'y': graphs['data'][1]['y'],
                   fill: 'tozeroy',
                   fillcolor: '#99ff99',
                   'line': {
                        'color': '#33ff33',
                        'shape': 'spline',
                        'smoothing': 0}
                  };

                var layout = {
                  title: {
                    text:'Energía consumida y recuperada',
                    font: {
                      family: 'Bansc, monospace',
                      size: 24
                    },
                    xref: 'paper',
                    x: 0.05,
                  },

                  yaxis: {
                    title: {
                      text: 'kW',
                      font: {
                        family: 'Courier New, monospace',
                        size: 18,
                        color: '#7f7f7f'
                      }
                    }
                  }
                };

                data=[smoothTrace,smoothTrace_regen]
                Plotly.newPlot('bargraph',data, layout);
            </script>
        </div>
        <div id="PieDiv" style="width:30%;float: right">
         <script>
          var donut_data = {{donut | safe}};
          console.log(donut_data[0]);

          var data = [{
          type: "pie",
          values: donut_data[0]['values'],
          labels: ['Consumo', 'Regeneración'],
          marker: {
            colors:  ['#9999ff', '#99ff99']
          },

          textinfo: "label+percent",
          textposition: "outside",
          automargin: true
        }]

        var layout = {
          title: 'Balance energético (kWh)',
          height: 400,
          width: 400,
          }

        Plotly.newPlot('PieDiv', data, layout)
        </script>
        </div>

    </div>
</div>
{% endblock %}
