{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block content %}


<div class="container" >
    <form class="form-signin" action="" method="post">
      <div class="text-center mb-4">
        <img class="mb-4" src="/static/tracking-icon.png" alt="" width="72" height="72">
        <h1 class="h3 mb-3 font-weight-normal">Registro </h1>
      </div>
        {{ form.hidden_tag() }}
          <d1>
            {{ wtf.form_field(form.username, class='form-control', placeholder='Ingresa tu usuario...') }}
          </d1>
          <d1>
            {{ wtf.form_field(form.email, class='form-control', placeholder='Ingresa tu email...') }}
         </d1>
         <d1>
            {{ wtf.form_field(form.password, class='form-control', placeholder='Ingresa tu contraseña...') }}
         </d1>
         <d1>
            {{ wtf.form_field(form.password2, class='form-control', placeholder='Ingresa tu contraseña nuevamente...') }}
         </d1>
         <button class="btn btn-lg btn-primary btn-block" type="submit">Registrarse</button>
      <p class="mt-5 mb-3 text-muted text-center">&copy;GRID 2021</p>
  </form>
</div>
{% endblock %}
