{% extends "layout.html" %}
{% block body  %}
<head>
    <title>Dasboard</title>
        <!-- plotly graph. -->
        <h2>
            {{ current_user.username }}
        </h2>

        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.1/moment.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.7.14/js/bootstrap-datetimepicker.min.js"></script>

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.7.14/css/bootstrap-datetimepicker.min.css">


        <div class="variables">
            <form role="form" class="form-inline" action="{{ url_for('graph_var') }}" method=post>
                <div class="col-auto">
                    <label class="label label-default" for="exampleFormControlSelect1"> Eje X </label>
                    <select class="form-control" id="exampleFormControlSelect1" name = variable_x>
                        <option value="{{session.graph_var_x}}"> {{session.x_pretty_graph}}</option>
                        <option value="timestamp">Tiempo</option>
                        <option value="elevation">Altitud</option>
                        <option value="slope">Pendiente</option>
                        <option value="speed">Velocidad</option>
                        <option value="odometer">Odometro</option>
                        <option value="capacity">Capacidad</option>
                        <option value="power_kw">Potencia</option>
                        <option value="soc">SOC</option>
                        <option value="soh">SOH</option>
                        <option value="batt_temp">Temperatura de batería</option>
                        <option value="ext_temp">Temperatura externa</option>
                        <option value="voltage">Voltage</option>
                        <option value="current">Corriente</option>
                        <option value="acceleration">Aceleración motor</option>
                        <option value="throttle">Pedal de acelerador</option>
                        <option value="regen_brake">Freno regenerativo</option>
                        <option value="consumption">Consumo</option>
                        <option value="range_est">Rango estimado</option>
                        <option value="range_ideal">Rango ideal</option>
                        <option value="drivetime">Tiempo de manejo</option>
                        <option value="charge_time">Tiempo de carga</option>
                        <option value="is_charging">Esta cargando</option>
                        <option value="tpms">presion llantas</option>
                        <option value="ocv">OCV</option>
                        <option value="occupants">Ocupantes</option>
                        <option value="footbrake">Freno de pedal</option>
                        <option value="engine_temp">Temperatura de motor</option>
                    </select>
                </div>
            <div class="col-auto">
                <label class="label label-default" for="exampleFormControlSelect2"> Eje Y </label>
                <select class="form-control" id="exampleFormControlSelect2" name = variable_y>
                    <option value="{{session.graph_var_y}}"> {{session.y_pretty_graph}}</option>
                    <option value="elevation">Altitud</option>
                    <option value="slope">Pendiente</option>
                    <option value="speed">Velocidad</option>
                    <option value="odometer">Odometro</option>
                    <option value="capacity">Capacidad</option>
                    <option value="power_kw">Potencia</option>
                    <option value="soc">SoC</option>
                    <option value="soh">SoH</option>
                    <option value="batt_temp">Temperatura de batería</option>
                    <option value="ext_temp">Temperatura externa</option>
                    <option value="voltage">Voltage</option>
                    <option value="current">Corriente</option>
                    <option value="acceleration">Aceleración motor</option>
                    <option value="throttle">Pedal de acelerador</option>
                    <option value="regen_brake">Freno regenerativo</option>
                    <option value="consumption">Consumo</option>
                    <option value="range_est">Rango estimado</option>
                    <option value="range_ideal">Rango ideal</option>
                    <option value="range_full">Rango 100% SoC</option>
                    <option value="drivetime">Tiempo de manejo</option>
                    <option value="charge_time">Tiempo de carga</option>
                    <option value="is_charging">Esta cargando</option>
                    <option value="tpms">presion llantas</option>
                    <option value="ocv">OCV</option>
                    <option value="rpm">RPM</option>
                    <option value="occupants">Ocupantes</option>
                    <option value="footbrake">Freno de pedal</option>
                    <option value="engine_temp">Temperatura de motor</option>
                </select>
            </div>
            <div class='col-auto'>
              <label class="label label-default" for="time1"> Desde </label>
              <div class="form-group" id = 'time1'>
                <div class='input-group date' id='datetimepicker1'>
                  <input type='text' class="form-control" name = 't1'/>
                  <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                  </span>
                </div>
              </div>
            </div>
            <script>
                $(function () {
                    $('#datetimepicker1').datetimepicker();
                });
            </script>
            <div class='col-auto'>
              <label class="label label-default" for="time2"> Hasta </label>
              <div class="form-group" id = 'time2'>
                <div class='input-group date' id='datetimepicker2'>
                  <input type='text' class="form-control" name = 't2'/>
                  <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                  </span>
                </div>
              </div>
            </div>
            <script>
                $(function () {
                    $('#datetimepicker2').datetimepicker();
                        date: new Date('05/01/2020')
                });
            </script>
            <div class="col-auto">
                <button class="btn btn-dark" type="submit">Ver</button>
            </div>

            </form>
        </div>


        <div class="container" id = "grafica">
            <p>{{session.x_pretty_graph}} vs {{session.y_pretty_graph}}</p>
            <p>{{session.t1}}</p>
            <p>{{session.t2}}</p>
            <div class="chart" id="bargraph">
                <script>
                    var graphs = {{plot | safe}};
                    Plotly.plot('bargraph',graphs,{});
                </script>
            </div>
        </div>

    <script>
    $(document).ready(function(){
        function loadlink(){

            req = $.ajax({
                url : "/updateplot",
                type : "GET",

            });

            req.done(function(res) {
                $("#bargraph").fadeOut(100).fadeIn(100);
                //full_data = JSON.parse(res.payload);
                console.log(res)
                var graphs = JSON.parse(res);
                console.log(graphs)
                Plotly.react('bargraph', graphs, {});
            });
        };
        setInterval(function(){
            loadlink() // this will run after every 5 seconds
        }, 10000);
    });


    </script>

{% endblock %}
