{% extends "layout.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block body  %}

  <head>
    <title>Vehiculos</title>
    <div id="line_top_x"></div>
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a class="nav-link" href="">Panel de energía</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="{{ url_for('show_vehicle_map') }}" aria-selected="true">Panel topográfico</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('show_entries') }}" aria-selected="false" >Gráficos personalizados</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('show_tables') }}" aria-selected="false">Tablas</a>
          </li>

        </ul>
     </div>
    <ul class="nav nav-tabs">
          <li class="nav-item">
          <a class="nav-link active" id="v-pills-profile-tab"  href="{{ url_for('show_vehicle_map') }}" >Vehículos</a>
          </li>
         <li class="nav-item">
          <a class="nav-link" href="{{ url_for('show_zones_map') }}" >Zonas</a>
         </li>
    </ul>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load("current", {packages:["calendar"]});
      google.charts.setOnLoadCallback(drawChart);
      var data_cal = {{ calendar|safe }};

        function drawChart() {
           var dataTable = new google.visualization.DataTable();
           dataTable.addColumn({ type: 'date', id: 'Date' });
           dataTable.addColumn({ type: 'number', id: 'Max_value' });
           for (var cal in data_cal) {
                   var cal_date = new Date(data_cal[cal]['date(timestamp)']);
                   cal_date.setDate(cal_date.getDate() + 1);
                   console.log(cal_date);
                   dataTable.addRows([[ cal_date, Math.round(data_cal[cal]['max_value']*100)/100 ]]);
                }

           var chart = new google.visualization.Calendar(document.getElementById('calendar_basic'));

           var options = {
             title: "Valores máximos por día",
             height: 175,
           };

           chart.draw(dataTable, options);
           google.visualization.events.addListener(chart, 'select', selectHandler);

           function selectHandler() {
                item = chart.getSelection()[0]
                if (item.row != null) {

                    var date1 = new Date(data_cal[item.row]['date(timestamp)']);
                    date1.setDate(date1.getDate() + 1);
                    var dd = String(date1. getDate())
                    var mm = String(date1. getMonth() + 1). padStart(2, '0');
                    var yyyy = date1. getFullYear();
                    date1 = dd + '/' + mm + '/' + yyyy;
                    console.log(date1);
                    document.getElementById('d1_input').value = date1;
                };
            };
       }
    </script>

    <div class="variables">
        <form role="form" class="form-inline" action="{{ url_for('map_var') }}" method=post>

             <div style="width: 100%;margin: 10px;">
                <select class="form-control" id="CalendarVarSelect" name = calendar_var>
                    <option value="{{session.calendar_var}}"> {{session.calendar_pretty}}</option>
                    <option value="drivetime">Tiempo de manejo</option>
                    <option value="mec_power">Potencia efectiva (server) (kW) </option>
                    <option value="power_kw">Potencia eléctrica (Kw)</option>
                    <option value="elevation">Altitud (msnm)</option>
                    <option value="slope">Pendiente (°)</option>
                    <option value="speed">Velocidad (Km/h)</option>
                    <option value="mean_speed">Velocidad promedio (Km/h)</option>
                    <option value="odometer">Odometro (Km)</option>
                    <option value="capacity">Capacidad (kWh)</option>
                </select>
                </div>
                <div id="calendar_basic" style="width: 100%; height: 175px;margin: 20px;"></div>

            <div class="col-auto">
                <label class="label label-default" for="exampleFormControlSelect3"> Variable de monitoreo </label>
                <select class="form-control" id="exampleFormControlSelect3" name = map_var>
                    <option value="{{session.map_var}}"> {{session.map_var_pretty}}</option>
                    <option value="elevation">Altitud (msnm)</option>
                    <option value="slope">Pendiente (°)</option>
                    <option value="speed">Velocidad (Km/h)</option>
                    <option value="mean_speed">Velocidad promedio (Km/h)</option>
                    <option value="user_id">Usuario</option>
                    <option value="operative_state">Estado Operativo</option>
                    <option value="odometer">Odometro (Km)</option>
                    <option value="capacity">Capacidad (kWh)</option>

                    <option value="energy_rec">Energia recuperada (Kwh) </option>
                    <option value="charge_current">Corriente de carga (A) </option>
                    <option value="charge_time">Tiempo de Carga (s) </option>
                    <option value="charger_type">Tipo de cargador  </option>

                    <option value="power_kw">Potencia eléctrica (Kw)</option>
                    <option value="mec_power">Potencia efectiva (Kw) </option>
                    <option value="eff">Eficiencia (%) </option>

                    <option value="en_pot">Delta Energía potenical (J) </option>
                    <option value="net_force">Fuerza neta (N) </option>
                    <option value="friction_force">Fuerza de fricción (N) </option>
                    <option value="run">Recorrido desde ultimo registro (m) </option>
                    <option value="soc">SOC</option>
                    <option value="soh">SOH</option>
                    <option value="batt_temp">Temperatura de batería (°C)</option>
                    <option value="ext_temp">Temperatura externa (°C)</option>
                    <option value="voltage">Voltage (V)</option>
                    <option value="current">Corriente (A)</option>
                    <option value="mean_acc">Aceleración promedio (m/s^2)</option>
                    <option value="acceleration">Aceleración motor </option>
                    <option value="net_signal">network quality </option>
                    <option value="throttle">Pedal de acelerador</option>
                    <option value="regen_brake">Freno regenerativo</option>
                    <option value="consumption">Consumo</option>
                    <option value="range_est">Rango estimado</option>
                    <option value="range_ideal">Rango ideal</option>
                    <option value="drivetime">Tiempo de manejo</option>
                    <option value="charge_time">Tiempo de carga </option>
                    <option value="is_charging">Esta cargando</option>
                    <option value="tpms">presion llantas (psi)</option>
                    <option value="ocv">OCV</option>
                    <option value="occupants">Ocupantes</option>
                    <option value="footbrake">Freno de pedal</option>
                    <option value="engine_temp">Temperatura de motor (°C)</option>
                </select>
            </div>

            <div class='col-sm-2'>
                <label class="label label-default" for="date"> Fecha </label>
                <div class="form-group" id = 'date'>
                    <div class='input-group date' id='datetimepicker1'>
                        <input type='text' id = 'd1_input' class="form-control" name = 'd1' />
                        <span class="input-group-addon"><span class="glyphicon glyphicon-time"></span>
                        </span>
                    </div>
                </div>
            </div>
            <script type="text/javascript">
                document.getElementById('d1_input').defaultValue = '{{ session.form_d1 }}'
                $(function() {
                   $('#datetimepicker1').datetimepicker({
                         format: 'DD/MM/YYYY'
                   });
                });
            </script>

            <div class='col-sm-2'>
                <label class="label label-default" for="hora1"> Desde </label>
                <div class="form-group" id="hora1">
                    <div class='input-group date' id='datetimepicker3'>
                        <input type='text' id = 'h1_input' class="form-control" name = 'h1'/>
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-time"></span>
                        </span>
                    </div>
                </div>
            </div>
            <script type="text/javascript">

                document.getElementById('h1_input').defaultValue = '{{ session.form_h1 }}'
                $(function () {
                    $('#datetimepicker3').datetimepicker({
                        format: 'LT'
                    });
                });
            </script>

            <div class='col-sm-2'>
                <label class="label label-default" for="hora2"> Hasta </label>
                <div class="form-group" id="hora2">
                    <div class='input-group date' id='datetimepicker4'>
                        <input type='text' id = 'h2_input' class="form-control" name = 'h2'/>
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-time"></span>
                        </span>
                    </div>
                </div>
            </div>
            <script>
                document.getElementById('h2_input').defaultValue = '{{ session.form_h2 }}';
                $(function () {
                    $('#datetimepicker4').datetimepicker({
                        format: 'LT'
                    });
                });
            </script>


            <div class="col-auto">
                <button class="btn btn-dark" type="submit">Ver</button>
            </div>

            </form>
        </div>
    <div>
    </div>

    <style>
    body {
      margin: 0;
      padding: 0;
      overflow: hidden;
      overflow-y: scroll;
    }

    #deck-map-container {
      width: 96%;
      height: 90%;
      background-color: black;
    }

    #map {
      pointer-events: none;
      height: 96%;
      width: 90%;
      position: absolute;
      z-index: 1;
    }

    #deckgl-overlay {
      z-index: 2;
    }

    #deck-map-wrapper {
      width: 96%;
      height: 90%;
    }

    #deck-container {
      width: 96vw;
      height: 90vh;
    }
    </style>
  </head>
  <body>
    <div id="deck-container">
    </div>
  </body>
  <script>


    const jsonInput = {"initialViewState": {"bearing": -27.36, "latitude": 6.17184, "longitude": -75.56359, "maxZoom": 17, "minZoom": 3, "pitch": 40.5, "zoom": 13},
      "layers": [{"@@type": "ScatterplotLayer", "data":{{json_stations}}, "filled": true, "getFillColor": [255, 140, 0], "getLineColor": [0, 0, 0], "getPosition": "@@=[longitude, latitude]",
      "id": "2695882c-7d5e-4f89-9e8a-049b84822d70", "lineWidthMinPixels": 1, "opacity": 0.8, "pickable": true, "radiusMaxPixels": 8, "radiusMinPixels": 8, "radiusScale": 6, "stroked": true},
      {"@@type": "LineLayer", "autoHighlight": true, "data": {{json_lines}}, "getSourcePosition": "@@=[longitude,latitude]", "getTargetPosition": "@@=[longitude2,latitude2]", "getWidth": 10, "highlightColor": [255, 255, 0], "id": "e7cf82d5-b4d6-4f9b-86ee-5f8712240607", "pickable": false, "pickingRadius": 10},
      {"@@type": "ColumnLayer", "data":{{json_operation}},"elevationScale": 12, "getElevation": "@@=var", "getFillColor": "@@=[2, var * 2,  var * 5,  var* 50]", "getPosition": "@@=[longitude, latitude]", "id": "27bac356-e75f-4bab-b330-7c6e7c831819", "pickable": true, "radius": 20}],
      "mapStyle": "mapbox://styles/mapbox/cjaudgl840gn32rnrepcb9b9g", "views": [{"@@type": "MapView", "controller": true}]};
    const MAPBOX_API_KEY = 'pk.eyJ1Ijoic2FudGlhZ28xNzFjYyIsImEiOiJja2NjZTkzOTkwM3ZxMndxa296YTVseGNkIn0.EFcvvL83cLQZYsqSgLVa6A';
    const tooltip = {'html':'<b>Valor : </b>  <b>{name}</b> Cerca a estaciones: {closest_station1} y {closest_station2}', 'style': {'background': 'grey', 'color': 'white', 'font-family': '"Helvetica Neue", Arial', 'z-index': '10000'}};
    const customLibraries = null;

    const deck = createDeck({
      mapboxApiKey: MAPBOX_API_KEY,
      container: document.getElementById('deck-container'),
      jsonInput,
      tooltip,
      customLibraries
    });
  </script>
  <div class="container">
  </div>

{% endblock %}